/* Container que segura vídeo e peixes */
.conteudo-video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  width: 100%;
  margin-bottom: 40px;
  padding: 3rem;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Vídeo centralizado */
.video-wrapper {
  position: relative;
  width: 80%;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* iframe do YouTube */
.video-wrapper iframe {
  width: 80%;
  height: 80%;
  border-radius: 12px;
  display: block;
  position: relative;
  z-index: 1;
}

.alegoria {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 20%;
  pointer-events: none;
  z-index: 2;
}

.alegoria.esquerda {
  left: 0;
}

.alegoria.direita {
  right: 0;
}

.alegoria img {
  width: 100%;
  height: auto;
}

.video-info h3 {
  color: #fff;
  text-align: center;
  margin-top: 1rem;
  background-color: #333;
  background-size: cover;
  padding: 0.5rem;
}

/* Responsividade */
@media (max-width: 768px) {
  .video-wrapper {
    width: 85%;
  }
}
