/* Container que segura vídeo e peixes */
.video-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  pointer-events: none;
}

.video-container.overlay-peixes::before {
  background-image: url("../images/overlays/peixes.png");
}

.video-container.overlay-mascaras::before {
  background-image: url("../images/overlays/mascaras.png");
}

.video-container.overlay-coroas::before {
  background-image: url("../images/overlays/coroas.png");
}

.video-container.overlay-perguntas::before {
  background-image: url("../images/overlays/perguntas.png");
}

.video-container.overlay-cachorros::before {
  background-image: url("../images/overlays/cachorros.png");
}

.conteudo-video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.video-container {
  width: 100%;
  margin-bottom: 40px;
  padding: 3rem 0rem; /* Adiciona padding para dar espaço */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Impede o vazamento em TODAS as direções */
}

/* Vídeo centralizado */
.video-wrapper {
  position: relative;
  width: 70%; /* Vídeo ocupa 70% do espaço, deixando 15% de cada lado (padrão) */
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  z-index: 1;
}

/* iframe do YouTube */
.video-wrapper iframe {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

/* --- Ajustes para telas menores (até 992px) --- */
@media (max-width: 992px) {
  .video-wrapper {
    width: 75%; /* Reduz um pouco o vídeo para dar mais espaço */
  }
}

/* --- Ajustes para tablets (até 768px) --- */
@media (max-width: 768px) {
  .video-wrapper {
    width: 80%; /* O vídeo ocupa um pouco mais da tela */
  }
}

/* --- Ajustes para smartphones (até 576px) --- */
@media (max-width: 576px) {
  .video-wrapper {
    width: 85%;
  }
}

/* --- Ajustes para smartphones muito pequenos (até 400px) --- */
@media (max-width: 400px) {
  .video-wrapper {
    width: 90%;
  }
}
