/* Container que segura vídeo e peixes */
.conteudo-video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  width: 100%;
  margin-bottom: 40px;
  padding: 3rem;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Vídeo centralizado */
.video-wrapper {
  position: relative;
  width: 80%;
  aspect-ratio: 16 / 9;
  margin: 0 auto;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* iframe do YouTube */
.video-wrapper iframe {
  width: 90%;
  height: 90%;
  border-radius: 12px;
  display: block;
  position: relative;
  z-index: 1;
}

.alegoria {
  position: absolute;
  max-width: 30%;
  pointer-events: none;
  z-index: 2;
}

.alegoria img {
  width: 100%;
  height: auto;
}

/*Especificos*/
.peixe-azul {
  bottom: 50%;
  transform: translateY(80%);
  left: -45px;
}

.peixe-vermelho {
  top: 50%;
  transform: translateY(-80%);
  right: -45px;
}

.mascara-esquerda {
  bottom: 50%;
  transform: translateY(80%);
  left: -50px;
}

.mascara-direita {
  bottom: 64%;
  transform: translateY(100%);
  right: -45px;
}

.coroa-esquerda {
  top: 50%;
  transform: translateY(-50%);
  left: -50px;
}

.coroa-direita {
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
}

.interrogacao-esquerda {
  top: 20%;
  transform: translateY(-50%);
  left: -70px;
  width: 20%;
}

.interrogacao-direita {
  bottom: 20%;
  transform: translateY(50%);
  right: -70px;
  width: 20%;
}

.cachorro-esquerdo {
  bottom: 31.5%;
  transform: translateY(70%);
  left: -70px;
  width: 20%;
}

.cachorro-direito {
  top: 31.5%;
  transform: translateY(-70%);
  right: -70px;
  width: 20%;
}

/* Responsividade */
@media (max-width: 768px) {
  .video-wrapper {
    width: 100%;
  }
}
