@media only screen and (max-width: 600px){
    .body{
        background-color: #f4f4f4;
    }
    .banner-inicio .carousel-inner .carousel-item {
        max-width: 100%;
        max-height: 85vh;   
    }

    .projetos-destaques{
        margin-top: 0;
    }

    .lista-projetos-destaques{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 16px;
        padding: 16px;
        scroll-behavior: smooth;
    }

    .lista-projetos-destaques::-webkit-scrollbar {
        display: none;
    }

    .lista-projetos-destaques > *{
        flex: 0 0 auto;
    }
}