/* Sobre Mim */
.sobre-mim {
  padding: 1vh;
}

.fundo-sobre-mim {
  background-color: #fff8f6;
}

.card-title {
  color: #b71c1c !important;
}

.card-text {
  font-size: 20px;
  text-align: justify;
  color: #2b2b2b;
  font-family: "Lora", serif;
  padding: 1rem;
}
