@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #2b2b2b;
  background-color: #000 !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather Sans", sans-serif;
  font-weight: 700;
  color: #333333;
}

p {
  font-family: "Lora", serif;
}

/* Banner Inicio */
.banner-inicio .carousel-inner .carousel-item {
  max-width: 100%;
  max-height: 100vh;
}

.carrousel-caption h1 {
  font-family: "Inria Serif", serif;
  font-weight: 300;
  font-style: normal;
  color: #fff;
}

/* Projetos em Destaque */
.projetos-destaques {
  margin-top: -20vh;
}

.lista-projetos-destaques {
  padding: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

/* Redes Sociais */
.contatos {
  padding: 5vh;
}

.instagram-titulo {
  padding: 5vh;
  color: #fff !important;
  font-size: 30px;
  text-align: center;
}

.instagram-feed {
  border: 1px solid #fff;
  padding: 5vh;
}

/* Footer */

.banner-governo-ce {
  margin-top: 1vh;
}

.alegoria {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  pointer-events: none; /* ESSENCIAL para permitir cliques no vídeo */
}

/* Posição específica para o canto inferior esquerdo */
.alegoria-bottom-left {
  bottom: -40px;
  left: 10rem;
  width: 36%;
  height: 25vh;
}

/* Posição específica para o canto superior direito */
.alegoria-top-right {
  top: -60px;
  right: -6rem;
  width: 36%;
  height: 25vh;
}
