body{
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333333;
    background-color: #bc191a !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    font-family: Playfair Display;
    font-weight: 700;
    color: #333333;
}

p{
    font-family: 'Open Sans';
    font-weight: 400;
}

/* Header */
.navbar{
    background-image: url("../images/slides/fundo-slide-1.jpeg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Playfair Display;
}

.navbar-collapse{
    align-items: baseline !important;
    text-align: end;
}

button.navbar-toggler{
    background-color: #C09E3D;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-nav{
    margin-top: -13vh;
}

.navbar-nav .nav-link{
    color: #fff !important;
    font-size: 1.2rem;
    font-weight: bold;
}
.navbar-nav .nav-link:hover{
    color:#005F73 !important;
    text-decoration: underline;
}

/* Banner Inicio */
/* .banner-inicio .carousel-inner .carousel-item {
    max-width: auto;
    max-height: 85vh;   
} */

/* Projetos em Destaque */

.projetos-destaques{
    margin-top: -20vh;
}

.lista-projetos-destaques{
    padding: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

/* Sobre Mim */

.sobre-mim{
    padding: 1vh;
}

.card-text{
    font-size: 40px;
    font-weight: 700;
}

.banner-governo-ce{
    margin-top: 1vh;
}